@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SoehneBuch';
  src: url('/assets/fonts/SoehneBreit-Buch.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SoehneHalbfett';
  src: url('/assets/fonts/Soehne-Halbfett.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SoehneKraeftig';
  src: url('/assets/fonts/Soehne-Kraeftig.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
